@component('layouts/master', { title: newsDetails.title })

<section>
    <div class="container">
        <h3>{{ newsDetails.title }}</h3>
        <p>{{ newsDetails.content }}</p>
    </div>
</section>

@endcomponent